{{ define "main" }}
<div class="home_topteaser" style="background:url({{partial "imgUrl" (dict "img" .Params.teaser_oben.bild "params " "c_scale,h_600" )}}) center center; background-size:cover">

</div>
<div class="home_about" style="background:url({{partial "imgUrl" (dict "img" .Params.uber_uns.hintergrund "params" "c_scale,h_400" )}}) center bottom no-repeat; ">
  <div class="ui container">
    {{ .Params.uber_uns.content | safeHTML }}
  </div>
  <div class="dw">
    <div class="dl"></div>
    <div class="dr"></div>
  </div>
</div>
<div class="home_services" style="background:url({{partial "imgUrl" (dict "img" .Params.leistungen.hintergrund "params" "c_scale,h_600" )}}) left center no-repeat; background-size:cover;">
  <div class="ui container">
    <h2>{{.Params.leistungen.titel}}</h2>
    <div>{{ .Params.leistungen.content | safeHTML }}</div>
    <div class="ui stackable three column grid">
      {{ range .Params.leistungen.leistungen }}
      <div class="column imgcol">
        <div class="cw">
          <a href="/leistungen">
            <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,w_360" )}}" />
            <h3>{{.titel}}</h3>
            <div class="content">{{.content  | safeHTML}}</div>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="dw">
    <div class="dl"></div>
    <div class="dr"></div>
  </div>
</div>
{{ end }}