{{ define "main" }}
<div class="contact_page sub">
  <div class="sub_topimage" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_oben "params" "c_scale,h_400" )}}) center center; background-size:cover">

  </div>
  <div class="ui container titlecontainer">
    <h1>{{ .Params.titel }}</h1>
    <div class="dw">
      <div class="dl"></div>
      <div class="dr"></div>
    </div>
  </div>
  <div class="ui container">
    <div class="ui grid stackable two columns">
      <div class="ui column">
        {{ .Params.content_links | safeHTML }}
      </div>
      <div class="ui column">
        {{ .Params.content_rechts | safeHTML }}
      </div>
    </div>
  </div>
  <div class="bottomg">
    <div class="ui container">
      <div class="ui grid stackable two columns">
        <div class="ui column lc">
          {{ .Params.content_unten_links | safeHTML }}
        </div>
        <a href="{{.Params.karte_googlemaps-link}}" target="_blank" class="ui column rc" style="background:url({{partial "imgUrl" (dict "img" .Params.karte_bild "params" "c_scale,h_400" )}}) center center; background-size:cover">

        </a>
      </div>
    </div>
  </div>
  {{ end }}