{{ define "main" }}
<div class="services_page sub">
  <div class="sub_topimage" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_oben "params" "c_scale,h_400" )}}) center center; background-size:cover">

  </div>
  <div class="ui container titlecontainer">
    <h1>{{ .Params.titel }}</h1>
    <div class="dw">
      <div class="dl"></div>
      <div class="dr"></div>
    </div>
  </div>
  <div class="services_list">
    <div class="ui grid stackable">
      {{ range $i,$p := .Params.leistungen }} {{if not (modBool $i 2)}}
      <div class="row odd">
        <div class="two wide column respDesktop"></div>
        <div class="eight wide column content">
          <h3>{{.titel}}</h3>
          <div>{{ .content | safeHTML }}</div>
          <div class="iconwrap respDesktop">
            <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,w_80,h_80" )}}" />
            <div class="d1"></div>
            <div class="d2"></div>
          </div>
        </div>
        <div class="six wide column respDesktop" style="background:url({{partial "imgUrl" (dict "img" .hintergrund "params" "c_scale,h_400" )}}) right -20px bottom no-repeat; background-size:contain">
        </div>
      </div>
      {{else}}
        <div class="row">
          <div class="six wide column respDesktop" style="background:url({{partial "imgUrl" (dict "img" .hintergrund "params" "c_scale,h_400" )}}) -20px bottom no-repeat; background-size:contain">
          </div>
          <div class="eight wide column content">
            <h3>{{.titel}}</h3>
            <div>{{ .content | safeHTML }}</div>
            <div class="iconwrap respDesktop">
              <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,w_80,h_80" )}}" />
              <div class="d1"></div>
              <div class="d2"></div>
            </div>
          </div>
          <div class="two wide column respDesktop"></div>
        </div>
        {{end}} {{end}}
    </div>
  </div>
  {{ end }}