{{ $t := .Site.GetPage "page" "global" "header.md" }}
<header>
  <div class="ui container">
    <div class="ui three column grid respDesktop">
      <div class="column mccol">
        <div id="headermenu">
          <div class="ui container">
            {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <a class="headermenuitem sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
              href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="column logocol">
        <a href="/">
          <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "c_scale,w_200,f_auto" )}}" />
        </a>
      </div>
      <a class="column contacts" href="/kontakt">
        <ul>
          {{ range $t.Params.kontaktdaten }}
          <li>
            {{ .text }}
          </li>
          {{ end }}
        </ul>
      </a>
    </div>
    <div class="mobileHeader respMobile">
      <a href="/">
        <img class="logo" src="{{partial "imgUrl" (dict "img" $t.Params.logo "params" "c_scale,w_200,f_auto" )}}" />
      </a>
      <div class="contacts">
        <ul>
          {{ range $t.Params.kontaktdaten }}
          <li>
            {{ .text }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="ui container respMobile">
    <div class="mobileMenu">
      {{ $currentPage := . }} {{ range .Site.Menus.main }}
      <a class="headermenuitem sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </div>
</header>